# Node modules
/frontend/node_modules/

# Python
/backend/__pycache__/
/backend/instance/
/backend/*.pyc

# Virtual environment
/backend/venv/
/backend/env/

# VS Code
.vscode/

# Environment variables
**/.env

# Mac/Linux
.DS_Store
